@model Labka1.Models.Sponsor

@{
    ViewData["Title"] = "Видалити";
}

<h1>Видалення</h1>

<h3>Ви впевнені, що бажаєте видалити це?</h3>
<div>
    <h4>Спонсор</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        @Html.ActionLink("Назад", "Index", "Sponsors",routeValues: new{teamId = @ViewBag.currentTeam.Id, name = @ViewBag.TeamName})

    </form>
</div>
