@model Labka1.Models.Participation

@{
    ViewData["Title"] = "Видалити";
}

<h1>Видалення</h1>

<h3>Ви впевнені, що бажаєте видалити це?</h3>
<div>
    <h4>Участь</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Racer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Racer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        @Html.ActionLink("Назад", "Index", "Participations",routeValues: new{tournamentId = @ViewBag.currentTournament.Id, tournamentName = @ViewBag.TournamentName})
    </form>
</div>
